span.carousel-control-prev-icon {
    background-color: #3c3737fa;
}
span.carousel-control-next-icon {
    background-color: #3c3737fa;
}
span.carousel-control-next-icon:hover {
    background-color: #51C0D1 !important;
}


span.carousel-control-prev-icon:hover {
    background-color: #51C0D1 !important;
}




@media (min-width: 320px) and (max-width: 375px) {
    img.img-fluid.mx-auto.banners {
        height: 150px !important;
    }
}
@media (min-width: 375px) and (max-width: 425px) {
    img.img-fluid.mx-auto.banners {
        height: 150px !important;
    }

}
@media (min-width: 375px) and (max-width: 425px) {

}
@media (min-width: 425px) and (max-width: 768px) { 
   
}
@media (min-width: 768px) and (max-width: 1024px) { 
   
}
@media (min-width: 1024px) and (max-width: 1200px) {
  
}
@media (min-width: 1200px) and (max-width: 1440px) {
 
}

