section#Frequently h2 {
    padding: 20px 0px;
}

@media (min-width: 320px) and (max-width: 375px) {
    section#Frequently h2 {
        font-size: 22px !important;
    }
    section#mritest h1 {
        font-size: 18px !important;
    }
}
@media (min-width: 375px) and (max-width: 425px) {

 }
@media (min-width: 375px) and (max-width: 425px) {

}
@media (min-width: 425px) and (max-width: 768px) { 

}
@media (min-width: 768px) and (max-width: 1024px) { 

}
@media (min-width: 1024px) and (max-width: 1200px) {

 }
@media (min-width: 1200px) and (max-width: 1440px) { 

}