section#Prominent h2 {
    margin: 20px 0px;
    padding: 25px 0px;
    font-family: sans-serif;
    font-weight: 600;
}
section#Prominent h4 {
    margin: 20px 0px;
    font-family: sans-serif;
}

@media (min-width: 320px) and (max-width: 375px) { 

}
@media (min-width: 375px) and (max-width: 425px) {

}
@media (min-width: 375px) and (max-width: 425px) { 

}
@media (min-width: 425px) and (max-width: 768px) {
    .mx-auto.Prominent.card{
       width: 15rem !important;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .mx-auto.Prominent.card{
        width: 15rem !important;
     }
}
@media (min-width: 1024px) and (max-width: 1200px) { 
   
}
@media (min-width: 1200px) and (max-width: 1440px) {
    
}