section#Testimonial {
    background-color: #00BCD1;
    padding: 40px 0px;
    margin: 20px 0px;
}
section#Testimonial h1 ,h3 {
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}
section#Testimonial p {
    color: white;
    font-family: sans-serif;
    font-weight: 500;
}